@import "./variables.scss";
@import "font-awesome";
@import "./nav.scss";
@import "./profile-header.scss";
@import "./social_networks.scss";
@import "./life_stories.scss";
@import "./projects.scss";

html {
  background-color: $primary;
  margin: 0 auto;
  position: relative;
  min-height: 95vh;
}

body {
  position: relative;
  margin: 0 auto;
  background-image: url("mushroom.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 95vw;
  max-width: 777px;

  // box-sizing: border-box;
}

a {
  padding: .5em;
  color: inherit;
}

.hidden {
  display: none;
}

#router-div {
  // background-color: $primary;
}
