@import "./variables.scss";
@import "font-awesome";
@import "./nav.scss";
@import "./profile-header.scss";
@import "./social_networks.scss";
@import "./life_stories.scss";
@import "./projects.scss";

html {
  background-color: $primary;
  margin: 0 auto;
  min-height: 99.5vh;
  display: flex;
  align-items: center;
  color: $secondary;
  justify-content: center;
}

body {
  position: relative;
  // margin: 0 auto;
  background-image: url("mushroom.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 95vw;
  max-width: 777px;
  border: 2px solid $secondary;
  min-height: 80vh;
  text-align: center;
  padding: 1em;
}

a {
  margin: .5em;
  padding: .5em;
  color: inherit;
}

i {
  padding: .5em;
  border-radius: 50%;
}

#login-status {
  max-width: 350px;
  border-radius: 40%;
  margin: 0 auto;
  padding: 1em;
}

#create-profile-button {
    padding: 1.5em;
  a{
    padding: 1.5em;
    border-radius: 40%;
  }

}

.hidden {
  display: none;
}

#router-div {
  min-height: 40vh;
  // background-color: $primary;
}
