@import "./variables.scss";
@import "font-awesome";
@import "./nav.scss";
@import "./profile-header.scss";
@import "./social_networks.scss";
@import "./life_stories.scss";

body {
  margin: 0;
}

.active {
  background-color: limegreen;
  padding: 1em;

}

// a {
//   display: flex;
//   justify-content: center;
// }

.hidden {
  display: none;
}

#hello-world {
  width: 100vw;
}
#profile-display {
}
