@import "./variables.scss";

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

  #hello-world-nav ul {
    padding:  0;
    font-size: 1.2em;
    li {
      background-color: $primary;
      border: 2px solid $secondary;
      border-radius: 40%;
      padding: .5em;
      &.active {
        background-color: $secondary;
        color: $primary;
        border: 2px solid $primary;
        font-weight: bold;
      }
    }

  }

  #about-me-nav {
    margin: auto;
    padding: .5em 0;
    width: 75vw;
    border-bottom: 5px solid $primary;
    background-color: $secondary;
    li {
      padding: .5em;
    }
  }



  .active-life-story {
  background-color: $primary;
  color: $secondary;
  border-radius: 40%;
  }
