@import "./variables.scss";

nav ul {
  display: flex;
  list-style: none;
  color: $secondary;
  max-width: 75%;
  justify-content: space-around;
  margin: auto;
  li {
    padding: .5em;
  }

}

  #hello-world-nav ul {
    padding:  0;
    font-size: 1.2em;
    li {
      background-color: $primary;
      border: 2px solid $secondary;
      border-radius: 40%;
      margin-bottom: 1em;
      &.active {
        background-color: $secondary;
        color: $primary;
        border: 2px solid $primary;
        font-weight: bold;
      }
    }

  }

  #about-me-nav {
    padding: .5em 0 0 0;
    max-width: 75%;
    background-color: $primary;
    box-sizing: border-box;
    li {
      &.active-life-story {
      background-color: $secondary;
      color: $primary;
      border-radius: 40% 40% 0 0;
      font-weight: bold;
      }
    }

  }
