@import "./variables.scss";

header {
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 1em;
  &:hover #profile-header-buttons {
    display: flex;
    justify-content: space-around;
  }
  #profile-display {

    text-align: center;
    padding: 1em;

    h1 {
      margin: 0;
      padding: 3px;
    }

    h3 {
      margin: 0;
      padding: 1px;
    }
  }
}
