// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "./variables.scss";

#projects {
  padding-bottom: 1em;
  .project {
    background-color: $secondary;
    color: $primary;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid $primary;
    margin-top: 1em ;
  }
}
