// Place all the styles related to the SocialNetworks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "./variables.scss";

#social-networks {
  text-align: center;
  padding:1em;
  i {
    font-size: 40px;
  }
  a {
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
  }

  &:hover .sn-add-link {
    display: flex;
    justify-content: center;
  }

  #social-network-icons {
    display: flex;
    justify-content: space-around;
    .fa-github {
      color: $githubIconColor;
    }
    .fa-linkedin {
      color: $linkinBlueColor;
    }
    .fa-twitter {
      color: $twitterBlue;
    }
    .social-network-icon{
      display: flex;
      flex-direction: column;
      a {
        text-align: center;
      }
      &:hover .sn-edit-links{
      display: inherit;
      }
    }
  }
} // end of #social_networks
